.top-btn{

position:fixed;

right:30px;

bottom:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#00ffd5;

color:#000;

font-size:20px;

cursor:pointer;

box-shadow:0 0 25px rgba(0,255,213,.4);

z-index:999;

transition:.3s;

}

.top-btn:hover{

transform:translateY(-5px);

}